@charset "UTF-8";

.title-wrap{
	display: flex;
    justify-content: center;
   	border-bottom: 2px solid lightgray;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 80px;
    color: white;
    width:60%;
    margin:0 auto;
    
}

.title-wrap h2{
	margin-bottom:50px;
	color : white;
	font-size:2.5rem;
}
.reserv_find_wrap{
    width: 60%;
    margin: 0 auto;
    /*border: 1px solid black;*/
    box-sizing: border-box;
   
}
.reserv_find_wrap>.input-wrap{
    
    
    margin-bottom:180px;
    margin-top : 50px;
    /*padding-top: 50px;*/
   
}

.reserv_find_wrap>.title-box{
    border-bottom: 2px solid lightgray;
    margin-bottom: 20px;
    padding-bottom:20px;
    padding-top:80px;
    color:white;
}

.input-area{
    overflow: hidden;
   
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.input-area>.subjcet{
    float: left;
    width: 20%;
    height: 42px;
    line-height: 42px;
    text-align: center;
    /*background-color: rgb(255,193,7);*/
     background-color :rgb(66,64,64);
     color : white;
    font-size: 17px;
}
.input-area>input{
    float: left;
    padding-left: 10px;
    font-size: 17px;
    margin-left:5px;
    outline : none;
}
.input-form {
    width: 70%;
    height: 40px;
    display: block;
    background-color : white;
    border: 1px solid #ccc;
}
.input-form:focus {
    box-shadow: 0 0 0 0.1rem #eee;
}

.btn3{
	width:200px;
	height:50px;
	background-color: rgb(255,193,7);
	box-shadow: 0.5px, 0.5px, 0.5px, 0.5px black;
	border-radius: 50px;
	cursor: pointer;
	font-size:20px;
}

.submit input{
	display:block;
}
.input-wrap .submit{
    width: 200px;
    margin: 0 auto;
    margin-top: 50px;
    padding-bottom: 50px;
}

.submit{
	margin-top: 50px;
	margin:0 auto;
	margin-bottom: 50px;
}