*{
    margin:0;
    padding:0;
    list-style-type: none;
    text-decoration: none;
}
#section3{
    position: relative;
}
.footer-content{
    width: 1920px;
    min-width: 1920px;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    bottom:20px;
}
.footer-content>ul>li>a{
    font-size: 12px;
    color: gray;
    line-height: 5px;
}
.footer-content>ul>li:first-child>a{
    font-size: 20px;
}
.footer-content{
    width:100%;
    margin-top: 20px;
}