@charset "UTF-8";
body{
    background-color: rgb(50, 50, 50);
}

a{
    color:white;

}
.header-wrap{
    width:100vw;
    margin: 0 auto;
    
}
.content-wrap{
    /* background-color: rgb(211, 84, 0); */
    background-color: rgba(33,33,33);
    display: flex;
    justify-content: center;
    width:100vw;
    height: 45px;
    text-align: center;
    margin-bottom: 20px;
}
.content-wrap>ul{
    height: 35px;
    width:150px;
    font-size : 15px;
    font-weight: 500;
    line-height: 45px;
    cursor: pointer;
}
.content-wrap>li>img{
    height:45px;
    cursor: pointer;
}

#logo-wrap{
    width:150px;
    display : flex;
    justify-content: center;
    align-items: center;
}

.menu-panel{
    display:flex;

}
.menuwrap>div:hover{
    animation-name: ani1;
    animation-duration: 8s;
    animation-fill-mode:forwards;
}
.menuwrap{
    height:40px;
    overflow: hidden;
}
.menuwrap>div>li>a{
	color:rgb(255,193,7);
}
@keyframes ani1{
    0%{
        transform: translateY(0px);
    }
    10%{
        transform: translateY(-45px);
    }
    100%{
        transform: translateY(-45px);
    }
}

.search-sub>li{
    display: flex;
    height: 100px;
    width:100px;
    border: 2px solid rgb(255, 193, 7);
    border-radius: 10px;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    margin:5px;
    margin-top:10px;
    cursor: pointer;
}
.search-sub>li>a{
    font-family: lemon;
    font-size:20px;
    color: rgb(255, 193, 7);
}
@keyframes ani2{
    0%{
        transform: translateX(150px);
    }
    10%{
        transform: translateX(0px);
    }
    20%{
        transform: translateX(8px);
    }
    30%{
        transform: translateX(0px);
    }
    40%{
        transform: translateX(0px);
    }
}

.login{
    line-height: 45px;
    font-size: 11px;
    font-family: ns-Medium;
}

.signin{
    margin-left: 20px;
    line-height: 45px;
    font-size: 11px;
    font-family: ns-Medium;
}