@charset "UTF-8";


.tbl{
    border-collapse: collapse;
    border-spacing: 0px;
  
}

.title-wrap{
	
	display: flex;
    justify-content: center;
   	border-bottom: 2px solid lightgray;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 80px;
    color: white;
    
}

.title-wrap h2{
	margin-bottom:50px;
	color : white;
	font-size:2.5rem;
}
.tbl tr:nth-of-type(1) th{
	background-color:#565454;
	border-bottom: 8px solid rgb(50,50,50);
	border-right: 4px solid rgb(50,50,50);
}
.tbl tr:nth-of-type(1) td{
	border-bottom: 8px solid rgb(50,50,50);
	width : 300px;
}

.tbl tr:nth-of-type(2) th{
	background-color:#565454;
	border-right: 4px solid rgb(50,50,50);
}

.tbl tr:nth-of-type(3) th {
	text-align : right;
	
}

.tbl label{
	color : white;
}
.tbl td{
	background-color:white;
}

.tbl tr th a{
	color:white;
}
.content-wrap{
	width: 60%;
    margin: 0 auto;
    box-sizing: border-box;
}
.content-box{
    margin: 0 auto;
    min-width: 500px;
    margin-top:100px;
    margin-bottom:200px;
    background-color: rgb(50,50,50);
    overflow: hidden;
}

.content-box>form>table{
    display: flex;
    justify-content: center;
}


.content-box>form>table tr th{
    width: 200px;
    height: 40px;
}

.content-box>form>table tr td>button{
    display: flex;
    justify-content: center;
    align-items: center;

}
.content-box>form>table tr td>button{
    margin: 0 auto;

}

/* 인풋 템플릿 폼 */
.input-wrap{
    width: 700px;
}
.input-form {
    width: 270px;
    height: 28px;
    display: block;
    background-color: #fff;
    outline: none;
    box-sizing: border-box;
    margin: 0 auto;
}

/* 버튼 템플릿 */
.btn2{
    width:100px;
    height:50px;
    background-color: rgb(255,193,7);
    box-shadow: 1px 1px 1px 1px black;
    cursor: pointer;
    font-size:20px;
}
.btn2:active{
    width:100px;
    height:50px;
    background-color: rgb(255,193,7);
    border:1px solid black;
    box-shadow: none;
}

.btn3{
    width:100px;
    height:50px;
    background-color: rgb(255,193,7);
    box-shadow: 0.5px 0.5px 0.5px 0.5px black;
    border-radius: 50px;
    cursor: pointer;
    font-size:20px;
    font-weight:700;
}
.btn3:active{
    width:100px;
    height:50px;
    background-color: rgb(255,193,7);
    border:1px solid gray;
    box-shadow: none;
}

/*input template*/
.tbl tr input{
    width: 100%;
    height: 40px;
    display: block;
    background-color: #fff;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.tbl tr input:focus{
    box-shadow: 0 0 0 0.1rem #eee;
}