.middle-box{
    width: 100vw;
    min-width: 100rem;
    display: flex;
    justify-content: center;
}
.middle-box>span{
    cursor: pointer;
	margin:15px;
    width:100px;
    height:20px;
    text-align: center;
    font-size: 15px;
    font-weight: 800;
    font-style:italic;
    border-radius: 30px;
    color: rgb(100,97,97);
}
.middle-box>span>a{
    color: rgb(100,97,97);
}
.login-box{
    position:fixed;
    top:15px;
    right: 15px;
    font-size: 13px;
}
.login-box>span>a{
    color: rgb(100,97,97);

}
.middle-box>span:hover{
    text-decoration: underline;
}
@keyframes boxAni{
    0%{
        transform: rotate(-2deg);
    }
    10%{
        transform: rotate(-1deg);
    }
    20%{
        transform: rotate(-2deg);
    }
    30%{
        transform: rotate(-1deg);
    }
    40%{
        transform: rotate(-2deg);
    }
    50%{
        transform: rotate(-1deg);
    }
    60%{
        transform: rotate(-2deg);
    }
}
@keyframes boxAni2{
    0%{
        transform: rotate(14deg);
    }
    10%{
        transform: rotate(13deg);
    }
    20%{
        transform: rotate(12deg);
    }
    30%{
        transform: rotate(13deg);
    }
    40%{
        transform: rotate(14deg);
    }
    50%{
        transform: rotate(13deg);
    }
    60%{
        transform: rotate(12deg);
    }
}
.title>a{
    position: fixed;
    top:15px;
    left:15px;
    display: block;
    font-size: 30px;
    font-weight: 900;
    color: rgb(255, 193, 7);
}
.sub-menu{
    background-image: url(/img/123.png);
    width: 100vw;
    min-width: 100rem;
    height: 200px;
    background-repeat: no-repeat;
    display:flex;
    justify-items: center;
    background-size: 100%;
    background-position: center;

}
.box-wrap{
    width:1200px;
    padding: 50px;
    display:flex;
    justify-content: space-between;
}
.box{
    display:flex;
    justify-content: center;
    align-items: end;
}
.left{
    width : 150px;
    height : 200px;
    box-shadow: 1px 1px 1px 1px ;
    margin-left:50px;
    z-index: 999;
}
.box>div{
    width:140px;
    height:30px;
    background-color: rgb(100,97,97);
    margin-bottom:5px;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    color: rgb(255, 193, 7);
}
.left:hover{
    animation : boxAni;
    animation-duration: 1s;
    z-index: 9999999;
}
.middle-wrap{
    width:1200px;
    margin: 0 auto;
}

.middle-wrap>.middle-btn-wrap{
    width: 1200px;
    height: 60px;
    background-color: white;
    /*margin-left: 10px;*/
}

.a-reserve, .a-location{
    margin-left: 350px;
    color: black;
    line-height: 60px;
    font-family: ns-Medium;
}

.a-reserve:hover, .a-location:hover{
    font-family: ns-Bold;
}

.notice-wrap{
	padding-top:2%;
    overflow: hidden;
    height: 30%;
    width: 100%;
    min-width: 100rem;
    margin: 0 auto;
    /* background-color: aquamarine; */
    /* background-image: url(/img/main-img2.png); */
    background-size: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.notice-title{
    margin-bottom:10px;
    width:100px;
    height:40px;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    font-weight: 900;
    color: #fff;
}

.notie-content{
    background-color: rgba(255, 255, 255, 0.8);
    width: 1000px;
    border-radius: 10px;
    margin:0 auto;
    display: flex;
    justify-items: center;
}

/*공지사항 css*/
.tbl {
	margin-top:10px;
	margin-bottom:10px;
    width: 98%;
    border-spacing: 0px;
    border-collapse: collapse;
  }
  .tbl th, .tbl td {
    padding: 1rem;
    text-align: center;
    height:20px;
  }
  .tbl td>a {
    text-decoration: none;
    color : black;
  }

.notice-tbl a:hover{
    text-decoration : underline;
}
.notice-tbl tr{
}
.notice-tbl tr>td:nth-child(2){
    text-align : left;
}

.tbl .tr-1 {
    background-color: rgb(255,193,7);
}
.tbl .tr-2 {
	background-color: rgba(57, 62, 70, 0.1);
}
.tbl .tr-3 {
	background-color: rgba(255, 255, 255, 0.1);
}
.tbl .tr-4 {
    background-color: #664d02;
}
.tbl.tbl-hover .tr-3:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
/*공지사항 css 끝*/

.location{
	height:500px;
	width:1200px;
	background-color: #fff;
	margin:0 auto;
}
.location-title{
	margin:0 auto;
	padding-top:50px;
    width:240px;
    height:80px;
    line-height:80px;
    text-align:center;
    font-weight:900;
    font-size:25px;
}

html {
    overflow: hidden;
}

html, body {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
}
.section {
    width: 100%;
    min-width: 100rem;
    height: 100%;
}

#section1 {
    background-color: aliceblue;
    display:flex;
    justify-items: center;
    align-items: center;
}
#section1_detail{
    width:100%;
}

#section2 {
	background-image: url(/img/main-img2.png);
	background-position:100px 100px;
	background-repeat:no-repeat;
    background-color: rgb(33,33,33);
}

#section3 {
    background-color: aliceblue;
}
.section2-box{
	position:relative;
    display:inline-block;
}
.thema-info-wrap{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 1000px;
    height: 30%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;

}
.photo-box{
    width:150px;
    height:175px;
    display:flex;
    align-content:center;
    justify-content:center;
}
.photo-box>a{
	display:flex;
	background-color:black;
    align-content:center;
    justify-content:center;
}

.photo-box>a>img{
	width:100%;
}
.content-box{
    box-shadow: 1px 1px 1px 2px gray;
    background-color: rgb(100,97,97);
    width:150px;
    height:170px;
    float: left;
    z-index: 1;
}
.mainThema-title{

    height:30px;
    text-align: center;
    font-size: 17px;
    position: relative;
    font-weight:900;
}
.thema-info-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width:200px;
    height:100%;
}

.main-table{
    border-spacing: 0;
}
.main-table>thead th{
    color: #fff;
    font-size: 17px;
    font-weight: 900;
    border-top: 1px solid rgb(255,193,7);
    height:40px;
    width:800px;
}
.main-table>thead th:first-child{
    width:100px;
}
.main-table>thead th:last-child{
    width:100px;
}
.main-table>tbody td{
    color: #fff;
    font-size: 14px;
    font-weight: 900;
    text-align: center;
    height:40px;
}
.main-table>tbody td>a{
    color: #fff;
    font-size: 14px;
    font-weight: 900;
    text-align: center;
    height:50px;
}
tbody tr{
	cursor: pointer;
}
tbody tr:hover{
	background: rgba(255,255,255,0.3);
}
/*
* 슬라이더 화살표
*/
.slide-wrap{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;

}
.slide-wrap>ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}
.slide-wrap>ul>li{
    width: 1200px;
    float: left;
}
.slide-wrap>ul>li>img{
    width: 100%;
    height: 500px;
}
.slide-navi{
    height: 100%;
    width:50px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0; 
    text-align: center;
    opacity: 0.5;
    z-index: 999;
}
.prev{
    left: 0;
}
.next{
    right: 0;
}
.slide-navi>span{
    font-size: 30px;
    color: #fff;
}
.slide-navi:hover{
    cursor: pointer;
    opacity: 1;
}
/*
* 슬라이더 화살표 끝
*/
.thema-info{
	width:150px;
	color:black;
	position: absolute;
	top:180px;
	left:5px;
}

.thema-info>span{
	display:inline-block;
	width:30px;
	height:20px;
	font-weight:900;
	font-size:15px;
	text-align:center;
	line-height:20px;
	color:#fff;
	border-radius: 5px;
}

.key{
	line-height:15px;
	width:13px;
	height:13px;
	background: rgba(33,33,33,0.1);
}

.key-wrap{
	position:absolute;
	display:flex;
	justify-content: center;
	align-items: center;
	top:6px;
	left:40px;
}

.title-wrap{
	background-size:100%;
	background-repeat:no-repeat;
	background-position:right;
	display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 20px;
    margin:0 auto;
    height:8%;
    width:1200px;
    padding-top:100px;
    margin-bottom:30px;
    
}

.title-wrap h2{
	color: rgb(255,193,7);
	font-size:2.5rem;
	font-family:ns-m;
}
.notice-content > a{
	display:inline-block;
	line-height:50px;
	width:100%;
}