@charset "UTF-8";

.page-content {
	margin-top: 70px;
}

.page-title {
	width: 70%;
	color: white;
	font-size: 27px;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
}

.page-content table {
	width: 70%;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
}

table {
	padding-top: 100px;
	border-collapse: collapse;
}

table th {
	text-align: center;
	background-color: rgb(66, 64, 64);
	color: white;
	font-size: 17px;
	padding-top: 10px;
	padding-bottom: 10px;
}
/*

	.tbl .tr-1>th{
	background-color : rgb(128,128,128) ;
	}
	*/
.tbl tr {
	border-bottom: 1px solid rgb(66, 64, 64);
}

table td {
	text-align: center;
	background-color: white;
	color: rgb(66, 64, 64);
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.tbl a {
	color: rgb(66, 64, 64);
}

.tbl a:hover {
	text-decoration: underline;
}

/*
.notice-tbl tr>td:nth-child(2) {
	text-align: left;
	padding-left: 15px;
}
*/


	
	table [type=submit]{
	width:200px;
	height:50px;
	
	
	cursor: pointer;
	font-size  :17px;
	font-weight : 700;

	}
	
	.input-form {
    width: 95%;
    margin:0 auto;
    padding-left:10px;
    height: 40px;
    display: block;
    background-color: #fff;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#noticeContent{
	background-color : white;
	
}

table tr {
	border-bottom: 1px solid rgb(66, 64, 64);
}
	