@charset "UTF-8";

.page-content{
		margin-top:70px;
	}
	
	
	.page-title{
	/*
		width : 70%;
		color : white;
		font-size  :27px;
		margin : 0 auto;
		margin-top: 50px;
		text-align: center;
		*/
		display: flex;
    justify-content: center;
   	border-bottom: 2px solid lightgray;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 80px;
    color: white;
    width:60%;
    margin:0 auto;
	}
	
	.page-title h2{
	margin-bottom:50px;
	color : white;
	font-size:2.5rem;
}
	.page-content table{
	width :70%;
	margin : 0 auto;
	margin-top : 100px;
	text-align: center;
	
	}

	.tbl{
	padding-top : 100px;
	border-collapse : collapse;
	}
	
	
	.tbl th{
	 text-align:center;
	 background-color : rgb(66,64,64);
	 color:white;
	 font-size :17px;
	 padding-top: 10px;
	 padding-bottom:10px;
	}
	
	.tbl .tr-1>th{
	background-color : white ;
	color : rgb(66,64,64);
	border-left : 1px solid rgb(66,64,64);
	}
	
	.tbl tr{
	 	border-bottom : 1px solid rgb(66,64,64);
	}
	
	
	.tbl td{
	text-align:center;
	background-color :white;
	color:rgb(66,64,64);
	font-size:14px;
	padding-top: 10px;
	padding-bottom:10px;
	border-left : 1px solid rgb(66,64,64);
	
	}
	
	.tbl a{
		color:rgb(66, 64, 64);
	}

	
	.notice-tbl tr>td:nth-child(2){
		text-align:left;
		padding-left :15px;
	}
	
	#noticeContent{
		height: 500px;
	
	}
	
		
	.tbl button{
	width:200px;
	height:50px;
	/*
	background-color: rgb(66, 64, 64);
	color:white;
	*/
	background-color :white;
	color:rgb(66, 64, 64);
	cursor: pointer;
	font-size  :17px;
	font-weight : 700;

	}
	
	/*
	.tbl button:hover{
		background-color: rgb(66, 64, 64);
		color:white;
	}*/
	#noticeContent{
		text-align: start;
		padding-left : 10px;
	}
	
