@charset "UTF-8";

	.content-wrap{
		margin-top:70px;
	}
	
	
	.page-title{
		width : 70%;
		color : white;
		font-size  :27px;
		margin : 0 auto;
		margin-top: 50px;
		text-align: center;
	}
	.content-wrap table{
	width :70%;
	margin : 0 auto;
	margin-top : 50px;
	text-align: center;
	
	}

	.notice-tbl{
	padding-top : 100px;
	border-collapse : collapse;
	}
	
	.notice-tbl th{
	 text-align:center;
	 background-color : rgb(66,64,64);
	 color:white;
	 font-size :17px;
	 padding-top: 10px;
	 padding-bottom:10px;
	}
	
	.notice-tbl .tr-2{
	 	border-bottom : 1px solid rgb(66,64,64);
	}
	
	.notice-tbl td{
	text-align:center;
	background-color : white;
	color:rgb(66,64,64);
	font-size:14px;
	padding-top: 10px;
	padding-bottom:10px;

	
	}
	.notice-tbl td:first-child{
		color: black;
		font-weight : 900;
	}
	.notice-tbl a{
		color:rgb(66,64,64);
	}
	
	.notice-tbl a:hover{
		text-decoration : underline;
		font-weight: 900;
	}
	
	.notice-tbl tr>td:nth-child(2){
		text-align:left;
		padding-left :15px;
	}
	
	.notice-tbl>.tr-2>td:first-child{
		border-left: 1px solid rgb(66,64,64);
	}
	

	
	#pageNavi{
	margin-top:30px;
	text-align:center;
	/*
	width :100%;
	display:inline-block;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	line-height:30px;
	background-color: rgb(255,193,7);
	*/
		
	}
	
	/*
	#pageNavi a{
	
	color : white;
	}
	/*
	
	/*
	.pagination {
		height:30px;
		display:flex;
		flex-direction: row;
		justify-content : center;
		align-items : center; 
	
	}
	
	.pagination li {
		width: 30px;
		height: 30px;
	}
	
	*/
	.pagination {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination > li {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  overflow: hidden;
}
.pagination.circle-style > li {
  border-radius: 50%;
}
.pagination > li > a.page-item {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 18px;
  color : rgb(128,128,128);
}
.pagination > li > a.page-item > span.material-icons {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 40px;
}
.pagination .page-item.active-page {
	color : rgb(255,193,7);
	color : rgb(128,128,128);
	color : white;
	

}
/* 글쓰기 버튼관련 */
.btn2{
    width:100px;
    height:50px;
    background-color: rgb(255,193,7);
    box-shadow: 0.5px 0.5px 0.5px 0.5px black;
    cursor: pointer;
    font-size:20px;
    font-weight:700;
}
.btn2:active{
    width:100px;
    height:50px;
    background-color: rgb(255,193,7);
    border:1px solid black;
    box-shadow: none;
}
.btn-box{
	width :70%;
	display : flex;
	flex-direction: row-reverse;
	margin : 0 auto;
	margin-top : 30px;
	text-align: center;
}
	