.tab-wrap>ul{ 
    overflow: hidden; 
    list-style-type: none; 
	display:flex;
	justify-content:center;
}

.reserveName{
	display:block;
	text-align:center;
	margin-bottom:50px;
}
.reserveName h4{
	color :white;
}
.reserveName span{
	font-size:24px;
	color :white;
	font-weight:700;
}
.btn2{
    width:400px;
    height:50px;
    background-color: rgb(255,193,7);
    box-shadow: 0.5px 0.5px 0.5px 0.5px black;
    cursor: pointer;
    font-size:20px;
    font-weight:700;
}
.btn2:active{
    width:400px;
    height:50px;
    background-color: rgb(255,193,7);
    border:1px solid black;
    box-shadow: none;
}

.btn-wrap{
	margin-top:50px;
	text-align:center;
} 

.btn4{
    width:400px;
    height:50px;
    background-color: #fff;
    box-shadow: 1px 1px black;
    cursor: pointer;
    font-size:20px;
}

.btn4:active{
    width:400px;
    height:50px;
    background-color: #fff;
    border:1px solid rgb(55,55,55);
    box-shadow: none;
    transform: scale(1,1);
}

.btn6{
    width:100px;
    height:50px;
    background-color: white;
    box-shadow: 0px 1px 1px 1px black;
    border-radius: 50px;
    cursor: pointer;
    font-size:20px;
}
.btn6:active{
    width:100px;
    height:50px;
    background-color: white;
    border:1px solid black;
    box-shadow: none;
    font-size: 19px;
}
.tabs-container{
	display:flex;
	justify-content:center;
	margin-bottom:100px;
}

.tabs-container .table{
	display:block;
	margin : 0 auto;
}

/*tbl2*/
.tbl2{
    border-collapse: collapse;
    border-spacing: 0px;
    margin : 0 auto;
}

.tbl2 th{ 
    text-align: center;
    background-color: #565454;
    width:200px;
    height: 40px;
    border-bottom: 4px solid rgb(50,50,50);
    color : white;
}

.tbl2 td{
    text-align: center;
    background-color:  rgb(230,230,230);
    width:200px;
    border-bottom: 4px solid rgb(50,50,50);
}

.tbl2 tr:nth-of-type(-n+3) td:nth-of-type(1) {
	border-right: 8px solid rgb(50,50,50);
	width:300px;
}

.tbl2 tr:nth-of-type(5) th:last-of-type{
	border-right : 4px solid rgb(50,50,50);
}

.tbl2 th:first-of-type{
	border-right: 4px solid rgb(50,50,50);
}

.tbl2 tr:nth-of-type(6) th{
	background-color:rgb(50,50,50);
}

.tbl2 tr:first-of-type th:last-of-type{
	width:500px;
}

.tbl2 tr select{
	width:380px;
	height:40px;
	font-size:24px;
	text-align:center;
}

.tbl2 tr input{
    width: 100%;
    height: 40px;
    display: block;
    background-color: #fff;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.tbl2 tr input:focus{
    box-shadow: 0 0 0 0.1rem #eee;
}
	

.tbl2 tr:last-of-type th{
	background-color :rgb(50,50,50);
}



.tbl2 #cancel{
	width:500px;
	float:left;
}
.tbl2 #home{
	width:500px;
}
/*tbl3*/
.tbl3 tr:nth-of-type(6) th{
	background-color : rgb(50,50,50);
}

.tbl3 tr:nth-of-type(2) td:last-of-type{
	font-size:24px;
}

.tbl3 tr:nth-of-type(5) td:last-of-type{
	border-right : none;
}

.tbl2 tr:nth-of-type(6) th{
	width:450px;
}

