.content-wrap{
	width: 1400px;
	/*margin-left:20vw;*/
	margin-top:3vw;
}

.title-wrap{
		width:1200px;
		font-family: ns-bold;
		font-weight:bold;
		font-size:16px;	
		padding-bottom:10px;
		border-bottom: 3px solid rgb(255,193,7);
}
	

.tbl1{
    border-collapse: collapse;
    border-spacing: 0px;
	width:1200px;
}

th{
	height: 50px;
	border-top: 3px solid rgb(255,193,7);
    border-bottom: 3px solid rgb(255,193,7);
    font-family:ns-bold;
}

td{
	border-bottom: 1px solid #ccc;
	font-family:ns-thin;
}

button{
	width:50px;
	height:30px;
	background-color:rgb(255,193,7);
	border:none;
	color:white;
	font-family: ns-thin;
}


/*
.tbl1 th{ 
    text-align: center;
    background-color: #dcdcdc;
    width:120px;
    border-right : 1px solid gray;
    border-bottom: 2px solid black;
}




.tbl1 td{
    text-align: center;
    border-bottom: 1px solid gray;
    border-right : 1px solid gray;
}*
/

/* 마지막 요소의 값은 지정하지 않는다 */

/*
.tbl1 th:last-of-type{
    border-right: none;
}
.tbl1 td:last-of-type{
    border-right: none;
}

.tbl1{
    margin-bottom: 100px;
}
*/