.searchId{
	background-color:white;
}

.title-wrap{
	
	display: flex;
    justify-content: center;
   	border-bottom: 2px solid lightgray;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 80px;
    color: white;
    
}

.content-wrap{
	width:60%;
	margin : 0 auto;
	margin-bottom : 200px;
}

.title-wrap h2{
	margin-bottom:50px;
	color : white;
	font-size:2.5rem;
}
.content-box{
    margin: 0 auto;
    min-width: 500px;
    /*height: 450px;*/
    border: 5px solid rgb(50,50,50);
    overflow: hidden;
}
.center-move{
    width: 600px;
    height: 450px;
    margin: 0 auto;
    margin-top : 50px;
    border: 4px solid white;
}

.first-content .search-content:nth-of-type(2) {
	margin-top:100px;
}
.first-content .search-content:nth-of-type(3){
	margin-top:8px;
}

.first-content .search-content:nth-of-type(4){
	margin-top:100px;
}

.second-content .search-content:nth-of-type(2) {
	margin-top:100px;
}
.second-content .search-content:nth-of-type(3){
	margin-top:8px;
}
.second-content .search-content:last-child{
	margin-top:90px;
}


.content-box>.center-move>.search-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.content-box>.center-move>.search-wrap>div{
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.search-wrap .searchId{
	background-color:white;
	font-weight:700;
	border-bottom:4px solid white;
}

.search-wrap .searchPw{
	color:white;
	border-bottom:4px solid white;
}
.content-box>.center-move>.search-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-box>.center-move>.search-content>span{
    background-color: #565454;
    width: 150px;
    color: white;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-right:4px solid rgb(50,50,50);
}
.content-box>.center-move>.search-content>#auth{
    display: none;
    justify-content: center;
    align-items: center;
}
.content-box>.center-move>.search-content>#auth>span{
    background-color: #565454;
    width: 150px;
    color: white;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-right:4px solid rgb(50,50,50);
}
.content-box>.center-move>.search-content>input{
    width: 250px;
    height: 40px;
}



.content-box input{
    width: 100%;
    height: 40px;
    display: block;
    background-color: #fff;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.content-box input:focus{
    box-shadow: 0 0 0 0.1rem #eee;
}
	




.btn2{
    width:100px;
    height:50px;
    background-color: rgb(255,193,7);
    box-shadow: 0.5px 0.5px 0.5px 0.5px black;
    cursor: pointer;
    font-size:20px;
    font-weight:700;
}
.btn2:active{
    width:100px;
    height:50px;
    background-color: rgb(255,193,7);
    border:1px solid black;
    box-shadow: none;
}
.center-move>.search-content:last-child{
    align-items: flex-end;
}

.show-hide{
    display: none;
}
.span-box{
	display: block;
}


/*모달*/
.modal-wrap{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.modal{
    background-color: #fff;
    width: 500px;
    min-width: 300px;
    height: 500px;
    min-height: 200px;
}

.modal-top{
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content>div>.result{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 80px;
}
.modal-content>div>.btn-last{
	display: flex;
    justify-content: center;
    align-items: flex-end;
}
/*-------------------------*/

.btn-box>button{
	height:40px;
	font-size:12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:80px;
}

.btn-box{
	height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:80px;
}
.second-content .search-content:nth-of-type(3){
	overflow:hidden;
	border-top:8px solid rgb(50,50,50);
	margin:0 auto;
}

.second-content .search-content:nth-of-type(4){
	display:flex;
}


#auth{
   margin: 0 auto;
   display :inline;
   width:100%;
   border-top: 8px solid rgb(50,50,50);
}

#authCode{
   width:250px;
   display:inline-block;
}

#authBtn{
   width:80px;
    height:40px;
    background-color: rgb(255,193,7);
    cursor: pointer;
    font-size:12px;
    font-weight:700;
}

.btn-box{
	left : clear;
    border: none;

}
.btn-center{
    display:flex;
    justify-content: center;
    align-items: center;
}

.span-box {
	display:block;
	padding-top : 10px;
	padding-left : 210px;
}




#timeZone {
	color: rgb(255,193,7);
}

#timeZone span {
	color: rgb(255,193,7);
}
