.content{
    margin: 0 auto;
    width: 1200px;
}
.content-box{
    margin: 0 auto;
    width: 1200px;
    background-color: rgb(50,50,50);
    overflow: hidden;
    
}
.signup-content{
    display: none;
}

.signup-content>.center-move>div>form>hr{
    border: 5px solid rgb(50,50,50);
}

.agree{
    width: 250px;
    padding-top: 10px;
    padding-left: 200px;
}
/* 탭메뉴 */
.tab-menu{
    display: flex;
    justify-content: center;
}
.tab-menu>ul{ 
    overflow: hidden; 
    list-style-type: none; 
}
.tabstep{ 
    margin: 25px;
    float: left; 
    width: 180px; 
    height: 70px; 
    line-height: 70px; 
    padding-left: 0px;
    text-align: center; 
    border-top-right-radius : 35px; 
    border-bottom-right-radius : 35px; 
    border: 3px solid rgba(255,193,7, 1); 
    font-size: 23px; 
    font-weight: 700; 
    color: rgba(255,193,7, 0.7); 
    display: flex; 
    align-items: center; 
}

.tabstep-now{ 
    background-color: rgba(255,193,7, 1); 
    border: 1px solid rgba(255,193,7, 0.4); 
    color: white; 
    font-weight: 900; 
} 
.tabstep>img{ 
    width: 40px; 
    height: 40px; 
    padding-right: 10px; 
    padding-left: 15px; 
}
/* 버튼 */
.btn2{
    width:100px;
    height:50px;
    background-color: rgb(255,193,7);
    box-shadow: 1px 1px 1px 1px black;
    cursor: pointer;
    font-size:20px;
    
}
.btn2:active{
    width:100px;
    height:50px;
    background-color: rgb(255,193,7);
    border:1px solid black;
    box-shadow: none;
}
.btn3{
    width:130px;
    height:40px;
    background-color: rgb(255,193,7);
    box-shadow: 1px 1px 1px 1px black;
    border-radius: 50px;
    cursor: pointer;
    font-size:20px;
}
/* 플렉스로 가운데로 버튼이나 기타등등 몰기위한것 */
.center-move{
    display: flex;
    justify-content: center;
}
.center-move>form>hr{
    border-color: rgb(118,118,118);
    margin-top: 15px;
    margin-bottom: 15px;
}
/* 2번 회원가입창 */
.input-wrap{
    overflow: hidden;
}
.input-wrap>.input-backColor{
	background-color: rgb(255,193,7);
	border-right: 10px solid rgb(50,50,50);

}
/* .id-wrap{
    overflow: hidden;
} */
#idChkMsg,#pwChkMsg,#pwReChkMsg,#phoneChkMsg,#timeZone{
    line-height: 55px;
}
#timeZone{
	color: rgb(255,193,7);
}
#authMsg{
	padding-left : 130px;
}
.input-location{
    padding: 10px;
    float: left;
    background-color: rgb(128,128,128);
}
.backColor{
	background-color: rgb(50,50,50);
	border-bottom: 10px solid rgb(50,50,50);
}
.input-wrap>.input-location:first-child{
    width: 100px;
    text-align: center;
    line-height: 40px;
}
#auth>.input-location:first-child{
	width:100px;
    height:40px;
    border-right: 10px solid rgb(50,50,50);
	background-color: rgb(255,193,7);
}

.input-location>input[type=text],input[type=password] {
    font-size: 16px;
}
#auth{
	display : none;
}
/* input 인풋 템플릿 폼 */
/* textarea 템플릿 */
.input-wrap{
    width: 700px;
}
.input-form {
    width: 330px;
    height: 40px;
    display: block;
    background-color: #fff;
    outline: none;
    border: 1px solid rgb(220,220,220);
    box-sizing: border-box;
}
.input-form:focus {
    box-shadow: 0 0 0 0.1rem rgb(220,220,220);
}
.input-form:disabled {
    background-color: rgb(220,220,220);
}
.textarea-form {
    width: 800px;
    resize: none;
    min-height: 300px;
    outline: none;
}
.textarea-form:focus {
    box-shadow: 0 0 0 0.1rem rgb(220,220,220);
}

.agree>label{
    color: rgb(255,193,7);
}
.fin-content-height{
	height : 490px;
}
.fin-content-height>h3{
	color: rgb(255,193,7);
	font-size : 23px;
	line-height: 500px; 
}