@charset "UTF-8";
.title-wrap{
	display: flex;
    justify-content: center;
   	border-bottom: 2px solid lightgray;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 80px;
    color: white;
    width:60%;
    margin:0 auto;
    
}

.title-wrap h2{
	margin-bottom:50px;
	color : white;
	font-size:2.5rem;
	font-family:ns-m;
}

.thema-select-wrap{
	padding-top:50px;
    width: 1600px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top:100px;
}
.level-span{
    color: white;
    font-family: ns-bold;
    font-size: 12px;
}

.select-them-span{
	margin-left:10px;
    color: white;
    font-family: ns-bold;
    font-size: 12px; 
}

.level, .select-thema{
    width: 150px;
    height: 40px;
    display: inline-block;
    background-color: #fff;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom:50px;
}


.search-btn{
    margin-left: 40px;
    width:50px;
	height:30px;
	border:none;
	background-color: rgb(255,193,7);
	cursor: pointer;
	font-size:15px;
	margin-top: 15px;
	font-family: ns-black;
}

.thema-content-wrap{
    width: 1600px;
    margin: 0 auto;
    height: 1000px;
}


.content-font>.thema-wrap{
	margin-top: 70px;
	margin-left: 10px;
    background-color: rgba(33,33,33);
    border-radius: 5px;
    width: 300px;
    height: 380px;
    padding-top: 10px;
    display:inline;
    float:left;
    text-decoration-line: none;
}

.img-wrap{
    background-color: rgba(33,33,33);
    width: 250px;
    height: 300px;
    padding: 0;
    margin: 0 auto;
    padding-bottom:10px;
}

.imgwrap{
	width:100%;
	height:100%;
}


.category{
    margin-left: 20px;
    font-family: ns-bold;
    font-size: 16px;
    color: white;
}

.thema-name{
    margin-left: 20px;
    font-family: ns-black;
    font-size: 22px; 
    color: white;
}

.key{
    width: 15px;
    height: 15px;
}



