@charset "UTF-8";
.thema-select-wrap{
    width: 1200px;
    height: 50px;
    margin: 0 auto;
}
.level-span{
    margin-left: 100px;
    color: white;
    font-family: ns-Bold;
    font-size: 12px;
}

.select-them-span{
    color: white;
    font-family: ns-Bold;
    font-size: 12px; 
}
.level, .select-thema{
    width: 150px;
    height: 25px;
}


.search-btn{
    margin-left: 20px;
    width:50px;
	height:30px;
	background-color: rgb(255,193,7);
	cursor: pointer;
	font-size:15px;
}

.thema-content-wrap{
    width: 1200px;
    background-color: white;
    margin: 0 auto;
}


.thema-wrap{
	margin-top: 10px;
	margin-left: 10px;
    background-color: dimgrey;
    border-radius: 5px;
    width: 200px;
    height: 250px;
    padding-top: 10px;
    display:inline;
    float:left;
    text-decoration-line: none;
}

.img-wrap{
    background-color: white;
    width: 180px;
    height: 200px;
    padding: 0;
    margin: 0 auto;
}

.imgwrap{
	width:100%;
	height:100%;
}


.category{
    margin-left: 20px;
    font-family: ns-Bold;
    font-size: 12px;
    color: white;
}
.thema-name{
    margin-left: 20px;
    font-family: ns-Bold;
    font-size: 12px; 
    color: white;
    font-weight: bold;
}

.key{
    width: 15px;
    height: 15px;
}



