@charset "UTF-8";
.title-wrap{
	display: flex;
    justify-content: center;
   	border-bottom: 2px solid lightgray;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 80px;
    color: white;
    width:60%;
    margin:0 auto;
    
}

.title-wrap h2{
	margin-bottom:50px;
	color : white;
	font-size:2.5rem;
}


.thema-wrap{
    width: 1200px;
    height: 550px;
    background-image: url("/img/backimg.jpg");
    margin: 0 auto;
    background-position: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    padding-top: 40px;
    padding-left: 20px;
    margin-top:100px;
    margin-bottom:200px;
}

.img-wrap{
    background-color: white;
    width: 400px;
    height: 450px;
    display: inline-block;
    float: left;
}

.img-content{
	width: 400px;
	height: 450px;
}

.thema-content-wrap{
    width: 770px;
    height: 450px;
    background-color: rgb(33, 33, 33);
    color: white;
    display: inline-block;
    float: left;
    margin-left: 10px;
}

.thema-title{
	margin-top:20px;
	margin-left: 20px;
	color:white;
	font-family: ns-black;
}


.reserve-btn{
    float: right;
    width:100px;
	height:50px;
	background-color: rgb(255,193,7);
	cursor: pointer;
	font-size:16px;
    margin-right: 20px;
    margin-top: 60px;
    font-family: ns-bold;
    font-weight:bold;
    
}

.thema-table{
    margin-top: 20px;
    margin-left: 20px;
    width:730px;
    height: 350px;
    border-collapse: collapse;
    background-color: white;
    color:black;
}

.thema-table>tbody>tr{
    border-bottom: 4px solid rgb(33, 33, 33);
}

.thema-table>tbody>tr>th{
    margin-top: 50px;
    width: 150px;
    font-size: 12px;
    border: 0.5px solid black;
    border-right: 4px solid rgb(33, 33, 33);
}


.thColor{
    background-color:rgb(86, 84, 84);
    color: white;
    text-align: center;
}

.th-left{
    text-align: left;
    text-indent: 20px;
}

.key{
	width:15px;
	height:15px;
}
